body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-align: center;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 100px 200px;
}
#div1{
    background-color: antiquewhite;
    display: grid;
}
#div1a{
    background-color: darkorange;
}
#div1b{
     background-color: darkgreen;
 }
#div1c{
    background-color: darksalmon;
}
#div1d{
    background-color: cadetblue;
}
#div2{
    background-color: aqua;
}
#div3{
    background-color: brown;
    display: grid;
    grid-template-rows: 50% 25%;
}
#div3a{
    background-color: darkslategrey;
}
#div3b{
    background-color: darkkhaki;
}
#div4{
    background-color: chocolate;
}
#div5{
    background-color: darkcyan;
}
#div6{
    background-color: chartreuse;
    display: grid;
    grid-template-columns: 50px auto;
}
#div6a{
    background-color: blueviolet;
}
#div6b{
    background-color: coral;
}
#div6c{
    background-color: crimson;
}